<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>DiscenteFilter</filter-name>
        <filter-class>br.com.estaghub.filters.DiscenteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DocenteComissaoFilter</filter-name>
        <filter-class>br.com.estaghub.filters.DocenteComissaoFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DocenteFilter</filter-name>
        <filter-class>br.com.estaghub.filters.DocenteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SupervisorFilter</filter-name>
        <filter-class>br.com.estaghub.filters.SupervisorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PrincipalFilter</filter-name>
        <filter-class>br.com.estaghub.filters.PrincipalFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/discente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/novoEstagio.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/emitirPlanoAtividade.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/justificativaNovoEstagio.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/emitirTCE.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/assinarDocumentoDiscente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/finalStep.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/emitirTermoAditivo.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/renovacaoEstagio.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DiscenteFilter</filter-name>
        <url-pattern>/editarPerfilDiscente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/docenteComissao.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/pedidosDocenteComissao.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/criarDocente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/criarCurso.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/criarDepartamento.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/novoStep2.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/novoStep2Justificado.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/editarDocente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/editarCurso.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/editarDepartamento.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteComissaoFilter</filter-name>
        <url-pattern>/editarPerfilDocenteComissao.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteFilter</filter-name>
        <url-pattern>/docente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteFilter</filter-name>
        <url-pattern>/pedidosDocente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteFilter</filter-name>
        <url-pattern>/novoStep4.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteFilter</filter-name>
        <url-pattern>/assinarDocumentoDocente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteFilter</filter-name>
        <url-pattern>/renovacaoStep3.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DocenteFilter</filter-name>
        <url-pattern>/editarPerfilDocente.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SupervisorFilter</filter-name>
        <url-pattern>/supervisor.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SupervisorFilter</filter-name>
        <url-pattern>/pedidosSupervisor.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SupervisorFilter</filter-name>
        <url-pattern>/renovacaoStep2.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SupervisorFilter</filter-name>
        <url-pattern>/vincularPedidoSupervisor.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SupervisorFilter</filter-name>
        <url-pattern>/editarPerfilSupervisor.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PrincipalFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
